*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .footer-container{
    padding-top: 2rem;
} */

.footer{
    width: 100%;
    height: 15rem;
    background: rgb(15,15,15);
    background: linear-gradient(340deg, #0f0f0f 60%, rgb(212, 126, 21) 100%);
    color:white;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding-top:40px;
}


.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.footer-heading a:hover{
    color:red;
    transition: 0.3s ease-out;
}

