@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,200;1,400;1,600&display=swap');
* {
  text-align: center;
}

.fontimport {
  font-family: 'Kanit', sans-serif;
}
.slider{
  position:relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width:1400px;
  height:600px;
  border-radius: 10px;
}

.App {
  backdrop-filter: grayscale(100%);
  width: 100%;
  height: 100%;
}



.right-arrow{
  position:absolute;
  top:50%;
  right: 32px;
  font-size: 3rem;
  color:orange;
  z-index:10;
  cursor:pointer;
  user-select: none;
  transition: 1s ease-in-out;
  filter: drop-shadow(0px 0px 10px black);
}
.right-arrow:hover{
  transition: 1s ease;
  color:black;
  font-size: 4rem;
  right: 24px;
  top:49%;
  animation: colorshift 1s infinite;
  filter: drop-shadow(0px 0px 15px orange);
}
.left-arrow:hover{
  transition: 1s ease;
  color:rgb(0, 0, 0);
  font-size:4rem;
  left: 24px;
  top:49%;
  animation: colorshiftback 1s infinite;
  filter: drop-shadow(0px 0px 15px orange);
}


.left-arrow{
  position:absolute;
  top:50%;
  left: 32px;
  font-size: 3rem;
  color:orange;
  z-index:10;
  cursor:pointer;
  user-select: none;
  transition: 1s ease-in-out;
  filter: drop-shadow(0px 0px 10px black);
}

.slide {
  opacity: 0;
  transition-duration: 2s ease-in-out;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.1);
}

@keyframes colorshift {
  0%{
    font-size:4rem;
    transform: rotate(0deg) 

  }
  50%{
    font-size: 4.2rem;
    transform: rotate(360deg);
  }
  100%{
    font-size:4rem;
    transform: rotate(360deg);
  }
}

@keyframes colorshiftback {
  0%{
    font-size:4rem;
    transform: rotate(0deg) 

  }
  50%{
    font-size: 4.2rem;
    transform: rotate(-360deg);
  }
  100%{
    font-size:4rem;
    transform: rotate(-360deg);
  }
}

h1,h2,h3,h4,h5,h6, input, label, textarea {
  color: orange;
}
input, textarea {
 background-color: black;
}