<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Forum</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<h1>Movie Forum</h1>
<div class="container">
    <div class="subforum">
        <div class="subforum-title ">
            <h1>Movie Forum</h1>
        </div>

        <select name="" id="">
            <option value="All">All</option>
            <option value="Titles">Titles</option>
            <option value="Actors">Actors</option>
        </select>
        <div class="search-box">
            <input type="text" name="q" id="" placeholder="search ...">
            <button><i class="button-search">Search</i></button>
            <hr class="subforum-devider">

            <div class="subforum-content">
                <div class="subforum-content-item">
                    <div class="subforum-row">
                        <div class="subforum-icon subforum-column">
                            <i class="fa fa-film" aria-hidden="true"></i>
                        </div>
                        <div class="subforum-description subforum-column centre">
                            <h1><a href="">Batman Returns </a></h1>
                            <p>Best film i have ever seen</p>
                        </div>
                    </div>
                </div>
                <hr class="subforum-devider">

                <div class="subforum-stats subforum-column centre">
                    <span class="subforum-stats-item">
                        <span> 14 posts | 2 Topics </span>
                    </span>
                </div>
                <hr class="subforum-devider">

                <div class="subforum-info subforum-column">
                    <b><a href="">Last Post</a></b> by <a href="">Robert Kusz</a>

                    <br>
                    <small>2 hours ago</small>




                </div>
            </div>
        </div>
        <hr class="subforum-devider">

        <div class="subforum-content">
            <div class="subforum-content-item">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </div>
                    <div class="subforum-description subforum-column centre">
                        <h1><a href="">Oceans eleven </a></h1>
                        <p>A heist film with a twist</p>
                    </div>
                </div>
            </div>
            <hr class="subforum-devider">

            <div class="subforum-stats subforum-column centre">
                    <span class="subforum-stats-item">
                        <span> 4 posts | 5 Topics </span>
                    </span>
            </div>
            <hr class="subforum-devider">

            <div class="subforum-info subforum-column">
                <b><a href="">Last Post</a></b> by <a href="">Robert Kusz</a>

                <br>
                <small>3 hours ago</small>




            </div>
        </div>
    </div>
    <hr class="subforum-devider">

    <div class="subforum-content">
        <div class="subforum-content-item">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </div>
                <div class="subforum-description subforum-column centre">
                    <h1><a href="">The Godfather part 2</a></h1>
                    <p>This has to be the best gangster film ever</p>
                </div>
            </div>
        </div>
        <hr class="subforum-devider">

        <div class="subforum-stats subforum-column centre">
                    <span class="subforum-stats-item">
                        <span> 64 posts | 65 Topics </span>
                    </span>
        </div>
        <div class="subforum-info subforum-column">
            <b><a href="">Last Post</a></b> by <a href="">Robert Kusz</a>

            <br>
            <small>20 hours ago</small>
            <hr class="subforum-devider">




        </div>
    </div>






    <script src="forum.js"></script>
</div>
</he>
</body>
</html>